
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .footer-text {
    font-size: 1.5rem;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    color: #fff7eb;
    text-shadow: 0 12px 10px #d3c1a5, 0px -6px 1px #fdecdf;
    font-weight: bold;
    text-align: center;
  }
}
