@use 'sass:map';

$January: #db4126;
$February: #2c70ae;
$March: #e77575;
$April: #83b326;
$May: #08a29a;
$June: #9c3e89;
$July: #33a1dc;
$August: #e3831b;
$September: #3a6b29;
$October: #a6770c;
$November: #854522;
$December: #4a4c93;

$Month: (
  $January: #db4126,
  $February: #2c70ae,
  $March: #e77575,
  $April: #83b326,
  $May: #08a29a,
  $June: #9c3e89,
  $July: #33a1dc,
  $August: #e3831b,
  $September: #3a6b29,
  $October: #a6770c,
  $November: #854522,
  $December: #4a4c93,
);

section {
  .border {
    margin: 4rem 0.5rem 2rem;
    text-shadow: 0 4px 4px #d3c1a5, 0px 6px 6px #fdecdf;
    border-bottom: 3px solid #c8b08ce8;
  }
  .headline {
    display: flex;
    padding: 0 3rem;

    h2 {
      font-size: 2.5rem;
      color: #cdab78e8;
      text-shadow: 0 4px 4px #d3c1a5, 0px 6px 6px #fdecdf;
    }
  }

  .image-bg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    row-gap: 1.5rem;
    column-gap: 1.5rem;

    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }

    .image {
      position: relative;
      margin: 1.5rem;
      text-align: center;

      img {
        width: 265px;
        height: 370px;
        vertical-align: top;
      }

      .month {
        position: absolute;
        top: 94%;
        left: 94%;
        transform: translate(-50%, -50%);
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: rgb(255, 250, 250);

        span {
          position: absolute;
          display: inline-block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
    }
    //画像のbox-shadowを繰り返しで当てる
    $num: 0;
    @each $key, $value in $Month {
      $num: $num + 1;
      .image:nth-child(#{$num}) {
        box-shadow: 20px 20px 0 $value;
        .month {
          outline: 20px solid $value;
          span {
            color: $value;
          }
        }
      }
    }
  }
}
