section {

  .image-bg {
    margin: 3rem;
    background-color: white;
    padding: 15px;

    .image {
      position: relative;
      text-align: center;

    }
    .image::before,
    .image::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
    }

    .image::before {
      top: -15px;
      right: -15px;
      border-width: 0 100px 100px 0;
      border-color: transparent #4bceec transparent transparent;
    }

    .image::after {
      bottom: -15px;
      left: -15px;
      border-width: 100px 0 0 100px;
      border-color: transparent transparent transparent #4bceec;
    }

    img {
      width: 300px;
      height: 400px;
      vertical-align:top;
    }
  }
}
