*{
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  display: border-box;
  margin: 0;
  padding: 0;

}

$base-bg: white;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $base-bg;

  @media screen and (max-width: 480px) {
  }

  .header-text {
    z-index: 5;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fef4e5;
    text-shadow: 0 12px 10px #ccbba0, 0px -6px 1px #fdecdf;
    font-size: 5.5rem;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    margin-top: 7rem;
    width: 95vw;

    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      font-size: 2.6rem;
    }

    .text {
      z-index: 5;
      padding: 0.5rem 3rem;
      display: flex;
      flex-direction: row;
      text-align: center;

      @media screen and (max-width: 480px) {
        padding: 0.5rem 1.5rem;
        display: flex;
        flex-direction: row;
        text-align: start;
      }
    }
    .text:nth-child(2) {
      text-align: center;
    }
    .text:nth-child(3) {
      text-align: right;
      
      @media screen and (max-width: 480px) {
      margin-left: auto;
      }
    }
  }

  .main {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 480px) {
      padding: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    .footer-text {
      z-index: 5;
      font-size: 1.5rem;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      color: #eee0ca;
      text-shadow: 0 1px 1px #d3c1a5, 0px 6px 1px #fdecdf;
      font-weight: bold;
      text-align: center;

      @media screen and (max-width: 480px) {
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}
